Repository KeshBotics/keshbotics3, pull requests merged in 2020-10, with the labels that each got.

#1 Add cogs.purge
  discord_async/cogs/purge.py
  discord_async/main.py
Labels: cog

#5 YouTube Integration API
  API/classes/data_handler.py
  API/classes/discord_post.py
  API/classes/youtube/youtube.py
  API/main.py
  API/routes/twitch/callback.py
  API/routes/youtube/callback.py
Labels: API, enhancement, hacktoberfest-accepted

#6 Discord Notification Implementation and Channel ID Retrieval
  API/classes/youtube/youtube_channel_id.py
  API/classes/youtube/youtube_management.py
  API/classes/youtube/youtube_notification.py
  API/routes/youtube/callback.py
  keshbotics.env
Labels: API, enhancement, hacktoberfest-accepted

#11 Youtube integration
  API/classes/twitch_management.py
  API/classes/youtube/youtube_channel_id.py
  API/classes/youtube/youtube_management.py
  API/middleware/auth.py
  API/routes/youtube/callback.py
  keshbotics.env
Labels: API, YouTube Integration, hacktoberfest-accepted

#14 API Routes for Managing YouTube Subscriptions
  API/main.py
  API/routes/youtube/add.py
  API/routes/youtube/delete.py
Labels: API, YouTube Integration

#15 Edit regex pattern for youtube channel id to capture all letters of any other language
  API/classes/youtube/youtube_channel_id.py
Labels: YouTube Integration, bug, hacktoberfest-accepted

#19 Update regex pattern for youtube channel identifier /c/ and integers
  API/classes/youtube/youtube_channel_id.py
Labels: YouTube Integration, bug, hacktoberfest-accepted

#21 Improvement regex pattern to find youtube channel name
  API/classes/youtube/youtube_channel_id.py
Labels: YouTube Integration, enhancement

#22 Discord Cog for YouTube Subscription Management
  API/classes/youtube/youtube_channel_id.py
  discord_async/cogs/youtube.py
  discord_async/main.py
Labels: YouTube Integration, cog

#23 Added bs4 to Requirements
  requirements.txt
Labels: API, YouTube Integration, bug

#25 Added lxml to requirements.txt
  requirements.txt
Labels: YouTube Integration, bug

#27 Implement crontab for YouTube Resubscribe
  crontab/cron_run.py
  crontab/youtube_subscribe.py
Labels: YouTube Integration

#32 Migrated "/" and "/test" Routes to Individual Files
  API/main.py
  API/routes/root.py
  API/routes/test.py
Labels: enhancement

#35 API Clean-up and Commenting
  API/classes/data_handler.py
  API/classes/discord_post.py
  API/classes/twitch/authorization.py
  API/classes/twitch/stream_metrics.py
  API/classes/twitch_management.py
  API/classes/youtube/youtube_channel_id.py
  API/classes/youtube/youtube_management.py
  API/classes/youtube/youtube_notification.py
  API/main.py
  API/middleware/auth.py
  API/routes/twitch/add.py
  API/routes/twitch/callback.py
  API/routes/twitch/delete.py
  API/routes/twitch/metrics.py
  API/routes/youtube/add.py
  API/routes/youtube/callback.py
  API/routes/youtube/delete.py
Labels: API, documentation

#36 Added Commenting to cron_run.py
  crontab/cron_run.py
Labels: documentation

#37 Created Schema for MySQL Database
  database/keshbotics.sql
  database/tables/cron_event.sql
  database/tables/settings.sql
  database/tables/stream_metrics_time.sql
  database/tables/twitch.sql
  database/tables/youtube.sql
  database/tables/youtube_submissions.sql
Labels: database

#38 Removed AUTO_INCREMENT from keshbotics.sql
  database/keshbotics.sql
Labels: bug, database
